.NavBarDiv1 {
  background-color: rgb(83, 86, 182);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  border-bottom: solid 4px black;
}
.NavBarDiv1plus{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.NavBarDiv21{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.NavBarDiv211{
  width: 60px;
  height: 60px;
}
.NavBarDiv221Img{
  animation: App-logo-spin infinite 20s linear
}
.NavBarSon212Title{
  font-size: 26px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.NavBarDiv22{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.NavBarSon221{
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  list-style: none;
  align-items: center;
  margin-right: 30px;
}
.NavBarSon2211{
  margin-right: 20px;
}
.NavBarSon2211Home{
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.NavBarSon2211Home:hover{
  color: rgba(96, 209, 246, 0.753);
  transition: 1s;
}