.Div1{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            280px,
            1fr
        )
    );
    gap: 10px;
}